<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} id="talks">Talks</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Stuff I talked about.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    {% include talk-card-link.html %}
  </div>

  {% for job in site.data.talks %}
    
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include talk-card.html %}
  </div>
  {% endfor %}
</div>
